.firewalls-nodes-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.node-container-1,
.node-container-7 {
  text-align: center;
  position: relative;
  top: 150px;
}

.node-container-2,
.node-container-6 {
  text-align: center;
  position: relative;
  top: 50px;
}

.node-container-3,
.node-container-4,
.node-container-5 {
  text-align: center;
  position: relative;
}

.name-node {
  margin-bottom: 10px;
}

.node-fw {
  font-size: 50px;
  color: white;
  background-color: rgb(8, 91, 186);
}

.status-node {
  border: black solid 1px;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: rgb(148, 247, 0);
  position: relative;
  bottom: 15px;
  left: 60px;
}

.status-node-canal {
  border: black solid 1px;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: rgb(148, 247, 0);
  position: absolute;
  bottom: 45px;
  margin-left: 10px;
}

.line-node {
  position: absolute;
  border: black 1px solid;
  z-index: -1;
}

.line-1 {
  top: 120px;
  left: 70px;
  width: 452px;
  transform: rotate(12deg);
}

.line-2 {
  top: 155px;
  left: 50px;
  transform: rotate(30deg);
  width: 330px;
}
.line-3 {
  top: 170px;
  left: 30px;
  transform: rotate(55deg);
  width: 210px;
}
.line-4 {
  top: 163px;
  left: -40px;
  transform: rotate(90deg);
  width: 170px;
}
.line-5 {
  top: 165px;
  right: 11px;
  transform: rotate(-55deg);
  width: 240px;
}

.line-6 {
  top: 155px;
  right: 50px;
  transform: rotate(-30deg);
  width: 315px;
}
.line-7 {
  top: 120px;
  right: 65px;
  width: 457px;
  transform: rotate(-12deg);
}

.internet-cloud-container {
  position: relative;
  top: 100px;
  width: 1300px;
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
}

.cloud {
  font-size: 200px;
  color: rgba(10, 97, 196, 0.651);
}

.cloud-canales {
  font-size: 150px;
  color: rgba(10, 97, 196, 0.651);
}

.name-internet {
  position: absolute;
  font-weight: bold;
  top: 100px;
}

.canales-nodes-container {
  display: flex;
  justify-content: space-around;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 100px;
}

.name-canal {
  font-size: 0.9rem;
  text-align: center;
  width: 90px;
  position: absolute;
  bottom: 65px;
  margin-left: 30px;
}

.node-canal {
}

.curves-container {
  width: 1300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.canales-container-1 {
  display: flex;
}

.curve-container-1 {
  text-align: center;
  position: relative;
  bottom: 120px;
  left: 120px;
  width: 300px;
}

.curve-container-2 {
  text-align: center;
  position: relative;
  bottom: 410px;
  left: 270px;
  width: 100px;
}

.curve-container-3 {
  text-align: center;
  position: relative;
  bottom: 700px;
  left: 590px;
  width: 100px;
  height: 100px;
}

.curve-container-4 {
  text-align: center;
  position: relative;
  bottom: 830px;
  left: 725px;
  width: 100px;
}

.curve-container-5 {
  text-align: center;
  position: relative;
  bottom: 130px;
  left: 725px;
  width: 100px;
}

.curve-1 {
  width: 440px;
  height: 300px;
  border: solid 2px #000;
  border-color: black transparent transparent transparent;
  border-radius: 500px 0 0;
}

.curve-2 {
  width: 300px;
  height: 300px;
  border: solid 2px #000;
  border-color: black transparent transparent transparent;
  border-radius: 500px 0 0;
  transform: rotate(-2deg);
}

.curve-3 {
  height: 90px;
  border: solid 2px #000;
  border-color: transparent black transparent transparent;
  transform: rotate(-12deg);
}

.curve-4 {
  width: 450px;
  height: 300px;
  border: solid 2px #000;
  border-color: black transparent transparent transparent;
  border-radius: 0 500px 0;
}
